h2.f2.tc Projects

.w-100.ph6(fxLayoutAlign='center', fxLayoutGap='40px', fxLayoutWrap.lt-xs)
  mat-card(fxFlex='1')
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Food.ee

    div(
      fxLayout,
      fxLayoutGap='5px',
      fxLayoutWrap,
      fxLayoutAlign='center center'
    )
      mk-pill(backgroundColor='yellow') Javascript
      mk-pill(backgroundColor='red') AngularJS

  mat-card(fxFlex='1')
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Dropcuff

    div(
      fxLayout,
      fxLayoutGap='5px',
      fxLayoutWrap,
      fxLayoutAlign='center center'
    )
      mk-pill(backgroundColor='purple') Elixir
      mk-pill(backgroundColor='yellow') Ramda
      mk-pill(backgroundColor='red') Angular
      mk-pill(backgroundColor='purple') Phoenix
      mk-pill(backgroundColor='yellow') Javascript

  mat-card(fxFlex='1')
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Edvisor

    div(
      fxLayout,
      fxLayoutGap='5px',
      fxLayoutWrap,
      fxLayoutAlign='center center'
    )
      mk-pill(backgroundColor='purple') Elixir
      mk-pill(backgroundColor='yellow') Ramda
      mk-pill(backgroundColor='red') AngularJS
      mk-pill(backgroundColor='red') Angular
      mk-pill(backgroundColor='purple') Phoenix
      mk-pill(backgroundColor='yellow') Javascript
