.mxw-l.w-30(*ngIf='isDirectionRight', fxFlex='1 1 auto')

.mxw-l.w-30(*ngIf='isDirectionLeft', fxFlex='1 1 auto')
  mat-card.mat-card-no-padding.mat-elevation-z5(fxLayout='column')
    mat-toolbar.bg-washed-blue.white(fxLayout, fxLayoutAlign='space-between center')
      span.f5 {{ title }}
      span.f6 {{ date }}

    .ph3.pv3(fxFlex='1 1 auto', fxLayout, fxLayoutAlign='center center')
      p.lh-copy.f6 {{ content }}

svg.w-30.experience-item_svg-item.mh2(viewBox='0 0 260 114', xmlns='http://www.w3.org/2000/svg')
  g.experience-item_circle(transform='translate(118 15)')
    circle.experience-item_circle-outer(
      fill='transparent',
      stroke='#00BCD4',
      stroke-width='.6',
      cx='12',
      cy='12',
      r='12'
    )

    circle.experience-item_circle-inner(
      fill='#00BCD4',
      cx='12',
      cy='12',
      r='7'
    )

  path.experience-item_arm-left(
    d='M103 25L72.194 1H0',
    fill-opacity='0',
    stroke='#607D8B',
    stroke-width='2',
    *ngIf='isDirectionLeft'
  )

  path.experience-item_arm-right(
    d='M157 25l30.806-24H260',
    fill-opacity='0',
    stroke='#607D8B',
    stroke-width='2',
    *ngIf='isDirectionRight'
  )

  path.experience-item_line-down(
    d='M130 40.2l.5 72.796',
    stroke='#D8D8D8',
    stroke-width='3',
    stroke-linecap='square',
    *ngIf='!hideTail'
  )


.mxw-l.w-30(*ngIf='isDirectionLeft', fxFlex='1 1 auto')

.mxw-l.w-30(*ngIf='isDirectionRight', fxFlex='1 1 auto')
  mat-card.mat-card-no-padding.mat-elevation-z5(fxLayout='column')
    mat-toolbar.bg-washed-blue.white(fxLayout, fxLayoutAlign='space-between center')
      span.f5 {{ title }}
      span.f6 {{ date }}

    .ph3.pv3(fxFlex='1 1 auto', fxLayout, fxLayoutAlign='center center')
      p.lh-copy.f6 {{ content }}

