.mxw-l.w-30(*ngIf='isDirectionRight', fxFlex='1 1 auto', fxHide, fxShow.gt-sm)

.mxw-l.w-30(*ngIf='isDirectionLeft', fxFlex='1 1 auto')
  ng-container(*ngTemplateOutlet='card')

svg.w-30.experience-item_svg-item.mh2([attr.viewBox]='viewBoxPath', xmlns='http://www.w3.org/2000/svg', ngClass.sm='move-left-mobile', ngClass.xs='move-left-extra-small')
  g.experience-item_circle(transform='translate(118 15)')
    circle.experience-item_circle-outer(
      fill='transparent',
      stroke='#00BCD4',
      stroke-width='.6',
      cx='12',
      cy='12',
      r='12'
    )

    circle.experience-item_circle-inner(
      fill='#00BCD4',
      cx='12',
      cy='12',
      r='7'
    )

  path.experience-item_arm-left(
    d='M103 25L72.194 1H0',
    fill-opacity='0',
    stroke='#607D8B',
    stroke-width='2',
    *ngIf='isDirectionLeft'
  )

  path.experience-item_arm-right(
    [attr.d]='rightArmPath',
    fill-opacity='0',
    stroke='#607D8B',
    stroke-width='2',
    *ngIf='isDirectionRight'
  )

  path.experience-item_line-down(
    d='M130 40v73',
    stroke='#D8D8D8',
    stroke-width='2' ,
    stroke-linecap='square',
    *ngIf='!hideTail'
  )


.mxw-l.w-30(*ngIf='isDirectionLeft', fxFlex='1 1 auto', fxHide, fxShow.gt-sm)

.mxw-l.w-30(*ngIf='isDirectionRight', fxFlex='1 1 auto')
  ng-container(*ngTemplateOutlet='card')

ng-template(#card)
  mat-card.mat-card-no-padding.mat-elevation-z5(fxLayout='column')
    mat-toolbar.bg-washed-blue.white.lh-copy(fxLayout='row wrap', fxLayoutAlign='space-between center')
      span.f5 {{ title }}
      span.f6 {{ date }}

    .ph3.pv3(fxFlex='1 1 auto', fxLayout, fxLayoutAlign='center center')
      p.lh-copy.f6 {{ content }}
