.w-100.vh-65.bg-light-blue.ph5.pt5.pb3.trskY8.absolute.top-0.left-0.z-0.mat-elevation-z3

.w-50.mw7.mw-xxl.z-1.landing-intro_opening
  img.w-30.br-100.dib.mw-m.landing-intro_image(
    src='assets/img/personal_image.jpg',
    alt='Profile Photo'
  )

  .landing-intro_opening_text(
    fxLayout='column'
  )
    .white
      h1.f0(ngClass.xs='tc') Mika Kalathil

    .mt1.white(fxLayout, fxLayout.xs='column', fxFlex='1 1 auto')
      h3.normal.software-title Software Developer

      div.dib(fxLayout.xs, fxLayoutAlign.xs='center')
        a.icon-s(href='https://github.com/MikaAK', target='_blank', rel='noopener')
          != require('assets/svg/octocat.svg')

        a.icon-s(href='https://ca.linkedin.com/in/mikakalathil', target='_blank', rel='noopener')
          != require('assets/svg/linkedin.svg')

    .mt3.w-100
      button.mat-button-padding--m.w-100.bg-washed-blue.white(
        mat-button,
        color='accent',
        (click)='onClickToContact()'
      ) Contact for Rates

.w-100.landing-intro_status-cards
  mat-card.mw7.bg-white.center.mat-elevation-z5
   .ph3(fxLayout, fxLayoutAlign='space-around', fxLayoutGap='20px')
     a((click)='onScrollToClick("services")', fxLayout='column', fxLayoutAlign='center center')
       .w3
         != require('assets/svg/backend-icon.svg')

       span.f5.b.mt3.tc((click)='onScrollToClick("backend-services")') Backend

     a.light-blue.dim-text(
       fxLayout='column',
       fxLayoutAlign='center center',
       href='assets/files/Mika Kalathil Resume.pdf',
       target='_blank'
     )
       .w3.green
         != require('assets/svg/contract-icon.svg')

       span.f5.b.mt3.tc Download Resume

     a((click)='onScrollToClick("services")', fxLayout='column', fxLayoutAlign='center center')
       .w3
         != require('assets/svg/frontend-icon.svg')

       span.f5.b.mt3.tc Frontend
