.w-50.mw7.mw-xxl.z-1.landing-intro_opening(itemscope, itemtype='http://schema.org/Person')
  img.w-30.br-100.dib.mw-m.landing-intro_image(
    itemprop='image',
    src='assets/img/personal_image.jpg',
    alt='Profile Photo'
  )

  .landing-intro_opening_text.flex.flex-column
    .white
      h1.f0.xs-tc(itemprop='name') Mika Kalathil

    .mt1.white.flex.xs-flex-column.flex-auto
      h3.normal.software-title(itemprop='jobTitle') Software Developer

      div.dib.flex.items-center.xs-justify-center
        a.icon-s.grow.grow-large(href='https://github.com/MikaAK', target='_blank', rel='noopener')
          != require('assets/svg/octocat.svg')

        a.icon-s.grow.grow-large(href='https://ca.linkedin.com/in/mikakalathil', target='_blank', rel='noopener')
          != require('assets/svg/linkedin.svg')

    .mt3.w-100
      button.mat-button-padding--m.w-100.bg-washed-blue.white(
        mat-button,
        color='accent',
        (click)='onClickToContact()'
      ) Contact me

.w-100.landing-intro_status-cards
  mat-card.mw7.bg-white.center.mat-elevation-z5
   .ph3.flex.justify-around
     a.grow-svg.mr3.flex.flex-column.flex-center((click)='onScrollToClick("experience")')
       .w3.h3.flex.flex-center.icon-full
         != require('assets/svg/computer.svg')

       span.f5.b.mt3.tc Experience

     a.light-blue.grow-svg.mr3.flex.flex-column.flex-center(
       href='assets/files/Mika Kalathil Resume.pdf',
       target='_blank'
     )
       .w3.green.h3
         != require('assets/svg/contract-icon.svg')

       span.f5.b.mt3.tc Download Resume

     a.grow-svg.flex.flex-column.flex-center((click)='onScrollToClick("skills")')
       .w3.h3
         != require('assets/svg/keyboard.svg')

       span.f5.b.mt3.tc Skills
