h2.f2.tc.roboto-slab.b.gray Contact

mat-card.center.mt5.mat-elevation-z5(ngClass.xs='w-80', ngClass.gt-xs='w-60')
  form.pv3(
    novalidate,
    [formGroup]='contactGroup',
    (ngSubmit)='onSubmit(contactGroup.value)',
    fxLayout='column',
    fxLayoutAlign='space-between center'
  )
    .w-90(fxLayout='column', fxLayout.gt-xs, fxLayoutAlign='space-between')
      mat-form-field(fxFlex.gt-xs='40%', ngClass.xs='w-100')
        input(
          matInput,
          mkTrimInput,
          placeholder='Name',
          formControlName='name'
        )

      mat-form-field(fxFlex.gt-xs='40%', ngClass.xs='w-100')
        input(
          matInput,
          mkTrimInput,
          placeholder='Email',
          formControlName='email'
        )

    mat-form-field.w-90
      textarea.h4(
        matInput,
        mkTrimInput,
        placeholder='Message',
        formControlName='message'
      )

    .tc.mt4.w-50
      button.mat-button-padding.bg-washed-blue.white.w-100(mat-button, color='accent', type='submit') Send
